.main {
    position: relative;
}

.backgroundImage {
    position: fixed;
    top: 20%;
    left: 0;

    width: 100%;
    height: 436px;
    z-index: -1;

    background-image: url("/images/earth.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -300px top;
}

@media (min-width: 1025px) {
    .backgroundImage {
        background-position: -100px top;
    }
}

@media (min-width: 1356px) {
    .backgroundImage {
        height: 620px;
    }
}